/* Game ball */
.game-ball {
  display: flex;
  flex-direction: column;
  min-width: 20rem;
  margin: 5rem;
  animation-name: position-column-y;
  animation-duration: 1.5s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  will-change: transform;
}
.game-ball.pause {
  animation-play-state: paused;
}
.game-ball.play {
  animation-play-state: running;
}
.game-ball__column {
  display: flex;
  border-top: dashed 0.5rem var(--column-color);
  animation-name: position-column-opacity-y;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  will-change: transform opacity;
}
.game-ball__column.pause {
  animation-play-state: paused;
}
.game-ball__column.play {
  animation-play-state: running;
}
.game-ball__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
}
.game-ball__balloon-x {
  display: flex;
  width: 4.8rem;
  height: 4.8rem;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  animation-name: balloon-x;
  animation-duration: 7s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  will-change: transform;
}
.game-ball__balloon-x.pause {
  animation-play-state: paused;
}
.game-ball__balloon-x.play {
  animation-play-state: running;
}
.game-ball__balloon-y {
  display: flex;
  height: 4.8rem;
  width: 4.8rem;
  -webkit-tap-highlight-color: transparent;
  background-image: url("../../images/ball.png");
  background-size: 4.8rem;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  animation-name: balloon-y;
  animation-duration: 0.4s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  will-change: transform;
}
.game-ball__balloon-y.pause {
  animation-play-state: paused;
}
.game-ball__balloon-y.play {
  animation-play-state: running;
}

/* Game ball animations */
@keyframes position-column-opacity-y {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(20rem);
    opacity: 1;
  }
}

@keyframes position-column-y {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-13rem);
  }
  100% {
    transform: translateY(2rem);
  }
}

@keyframes balloon-x {
  0% {
    transform: translateX(0rem);
  }
  25% {
    transform: translateX(-5rem);
  }
  50% {
    transform: translateX(5rem);
  }
  75% {
    transform: translateX(-10rem);
  }
  100% {
    transform: translateX(10rem);
  }
}

@keyframes balloon-y {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8rem);
  }
  100% {
    transform: translateY(2rem) scale(1, 0.8);
  }
}
