/* Start form */
.start-form {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  margin-bottom: 5rem;
}
.start-form label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.5rem;
  margin: 0.5rem;
}
.start-form__username {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  background-color: transparent;
  color: var(--font-color);
  border: 0.2rem solid var(--primary-color);
  border-radius: 0.5rem;
}
.start-form__error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  margin: 0.5rem;
  color: var(--warning-color);
}
