/* Game end winner */
.end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8rem;
}
.end * {
  padding: 1rem;
}
.end-username {
  font-size: 3.5rem;
  color: var(--primary-color);
  text-transform: capitalize;
  text-align: center;
  text-shadow: 0.1rem 0.1rem var(--font-color);
}
.end-regards {
  font-size: 3rem;
  color: var(--primary-color);
  text-align: center;
  text-shadow: 0.1rem 0.1rem var(--font-color);
}
.end-difficult {
  font-size: 2.5rem;
  color: var(--primary-color);
  text-align: center;
  text-shadow: 0.1rem 0.1rem var(--font-color);
}
.end-back-icon {
  font-size: 10rem;
  color: var(--font-color);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: 1s;
  will-change: transition transform;
}
.end-back-icon:hover {
  color: var(--primary-color);
  transform: rotate(-360deg);
}
