/* Footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem;
}
.footer h6 {
  font-size: 1.3rem;
}
.footer__link {
  color: var(--font-color);
  text-decoration: none;
}
.footer__link:hover {
  opacity: 0.5;
}
